.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 80px;
}
.rootglobal_dark__true {
  background: #2c2c2c;
  height: 100%;
  min-height: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 24px 24px 0px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lfymz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 32px;
  padding: 0px;
}
.freeBox__lfymz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lfymz > :global(.__wab_flex-container) > *,
.freeBox__lfymz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lfymz > :global(.__wab_flex-container) > picture > img,
.freeBox__lfymz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.h2 {
  width: auto;
  height: auto;
  max-width: 978px;
  text-align: left;
  letter-spacing: 0px;
  padding-bottom: 0px;
  user-select: none;
  font-size: 40px;
}
.h2global_dark__true {
  color: #ffffff;
}
.save:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox__ukFAj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg__vGotH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__jjxSr {
  font-size: 14px;
  font-weight: 400;
}
.svg___2BRyt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
._import:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox___6Syi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg___9Fm1U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__ycBpc {
  font-size: 14px;
  font-weight: 400;
}
.svg__x8Kga {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.token:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox___8II6J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg__t4Rtv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___7WTzw {
  font-size: 14px;
  font-weight: 400;
}
.svg__cilvL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__e8E5J {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__e8E5J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__e8E5J > :global(.__wab_flex-container) > *,
.freeBox__e8E5J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e8E5J > :global(.__wab_flex-container) > picture > img,
.freeBox__e8E5J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.toggle:global(.__wab_instance) {
  position: relative;
  margin-right: 12px;
  flex-shrink: 0;
}
.toggleglobal_dark__true:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__ddXK {
  height: auto;
  user-select: none;
}
.textglobal_dark__true__ddXKuQts4 {
  color: #ffffff;
}
.mode:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}
.modeglobal_dark__true:global(.__wab_instance) {
  background: #444444;
  color: #ffffff;
}
.themes:global(.__wab_instance) {
  position: relative;
  height: 100%;
  min-height: 0;
}
