@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles,
.plasmic_default_styles:where(.global_dark__true),
.plasmic_default_styles:where(.global_dark__false) {
  --mixin-Cm5k_1s0ZfLo_font-family: "Inter", sans-serif;
  --mixin-Cm5k_1s0ZfLo_font-size: 16px;
  --mixin-Cm5k_1s0ZfLo_font-weight: 400;
  --mixin-Cm5k_1s0ZfLo_font-style: normal;
  --mixin-Cm5k_1s0ZfLo_color: #535353;
  --mixin-Cm5k_1s0ZfLo_text-align: left;
  --mixin-Cm5k_1s0ZfLo_text-transform: none;
  --mixin-Cm5k_1s0ZfLo_line-height: 1.5;
  --mixin-Cm5k_1s0ZfLo_letter-spacing: normal;
  --mixin-Cm5k_1s0ZfLo_white-space: pre-wrap;
  --mixin-Cm5k_1s0ZfLo_user-select: text;
  --mixin-Cm5k_1s0ZfLo_text-decoration-line: none;
  --mixin-Cm5k_1s0ZfLo_text-overflow: clip;
  --mixin-kOefIQT9OxjI_color: #000000;
  --mixin-kOefIQT9OxjI_font-weight: 900;
  --mixin-kOefIQT9OxjI_font-size: 72px;
  --mixin-kOefIQT9OxjI_line-height: 1;
  --mixin-kOefIQT9OxjI_letter-spacing: -4px;
  --mixin-kOefIQT9OxjI_white-space: pre-wrap;
  --mixin-eTGci-cdCAuD_color: #000000;
  --mixin-eTGci-cdCAuD_font-size: 48px;
  --mixin-eTGci-cdCAuD_font-weight: 700;
  --mixin-eTGci-cdCAuD_letter-spacing: -1px;
  --mixin-eTGci-cdCAuD_line-height: 1.1;
  --mixin-eTGci-cdCAuD_white-space: pre-wrap;
  --mixin-RwNvMSmCBm2o_color: #0070f3;
  --mixin-RwNvMSmCBm2o_white-space: pre-wrap;
  --mixin-xorD9umz1jwv_color: #000000;
  --mixin-xorD9umz1jwv_font-size: 32px;
  --mixin-xorD9umz1jwv_font-weight: 600;
  --mixin-xorD9umz1jwv_letter-spacing: -0.8px;
  --mixin-xorD9umz1jwv_line-height: 1.2;
  --mixin-xorD9umz1jwv_white-space: pre-wrap;
  --mixin-WVoLOBMzCSYZG_color: #000000;
  --mixin-WVoLOBMzCSYZG_font-size: 24px;
  --mixin-WVoLOBMzCSYZG_font-weight: 600;
  --mixin-WVoLOBMzCSYZG_letter-spacing: -0.5px;
  --mixin-WVoLOBMzCSYZG_line-height: 1.3;
  --mixin-WVoLOBMzCSYZG_white-space: pre-wrap;
  --mixin-qUS7e_xba9KeG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qUS7e_xba9KeG_border-bottom-color: #dddddd;
  --mixin-qUS7e_xba9KeG_border-bottom-style: solid;
  --mixin-qUS7e_xba9KeG_border-bottom-width: 1px;
  --mixin-qUS7e_xba9KeG_border-left-color: #dddddd;
  --mixin-qUS7e_xba9KeG_border-left-style: solid;
  --mixin-qUS7e_xba9KeG_border-left-width: 1px;
  --mixin-qUS7e_xba9KeG_border-right-color: #dddddd;
  --mixin-qUS7e_xba9KeG_border-right-style: solid;
  --mixin-qUS7e_xba9KeG_border-right-width: 1px;
  --mixin-qUS7e_xba9KeG_border-top-color: #dddddd;
  --mixin-qUS7e_xba9KeG_border-top-style: solid;
  --mixin-qUS7e_xba9KeG_border-top-width: 1px;
  --mixin-qUS7e_xba9KeG_border-bottom-left-radius: 3px;
  --mixin-qUS7e_xba9KeG_border-bottom-right-radius: 3px;
  --mixin-qUS7e_xba9KeG_border-top-left-radius: 3px;
  --mixin-qUS7e_xba9KeG_border-top-right-radius: 3px;
  --mixin-qUS7e_xba9KeG_font-family: "Inconsolata";
  --mixin-qUS7e_xba9KeG_padding-bottom: 1px;
  --mixin-qUS7e_xba9KeG_padding-left: 4px;
  --mixin-qUS7e_xba9KeG_padding-right: 4px;
  --mixin-qUS7e_xba9KeG_padding-top: 1px;
  --mixin-qUS7e_xba9KeG_white-space: pre-wrap;
  --mixin-tehCLLL2-P0VL_border-left-color: #dddddd;
  --mixin-tehCLLL2-P0VL_border-left-style: solid;
  --mixin-tehCLLL2-P0VL_border-left-width: 3px;
  --mixin-tehCLLL2-P0VL_color: #888888;
  --mixin-tehCLLL2-P0VL_padding-left: 10px;
  --mixin-tehCLLL2-P0VL_white-space: pre-wrap;
  --mixin-QF8GtBbbtSH3T_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QF8GtBbbtSH3T_border-bottom-color: #dddddd;
  --mixin-QF8GtBbbtSH3T_border-bottom-style: solid;
  --mixin-QF8GtBbbtSH3T_border-bottom-width: 1px;
  --mixin-QF8GtBbbtSH3T_border-left-color: #dddddd;
  --mixin-QF8GtBbbtSH3T_border-left-style: solid;
  --mixin-QF8GtBbbtSH3T_border-left-width: 1px;
  --mixin-QF8GtBbbtSH3T_border-right-color: #dddddd;
  --mixin-QF8GtBbbtSH3T_border-right-style: solid;
  --mixin-QF8GtBbbtSH3T_border-right-width: 1px;
  --mixin-QF8GtBbbtSH3T_border-top-color: #dddddd;
  --mixin-QF8GtBbbtSH3T_border-top-style: solid;
  --mixin-QF8GtBbbtSH3T_border-top-width: 1px;
  --mixin-QF8GtBbbtSH3T_border-bottom-left-radius: 3px;
  --mixin-QF8GtBbbtSH3T_border-bottom-right-radius: 3px;
  --mixin-QF8GtBbbtSH3T_border-top-left-radius: 3px;
  --mixin-QF8GtBbbtSH3T_border-top-right-radius: 3px;
  --mixin-QF8GtBbbtSH3T_font-family: "Inconsolata";
  --mixin-QF8GtBbbtSH3T_padding-bottom: 3px;
  --mixin-QF8GtBbbtSH3T_padding-left: 6px;
  --mixin-QF8GtBbbtSH3T_padding-right: 6px;
  --mixin-QF8GtBbbtSH3T_padding-top: 3px;
  --mixin-QF8GtBbbtSH3T_white-space: pre-wrap;
  --mixin-nxX84hj2g3sxa_display: flex;
  --mixin-nxX84hj2g3sxa_flex-direction: column;
  --mixin-nxX84hj2g3sxa_align-items: stretch;
  --mixin-nxX84hj2g3sxa_justify-content: flex-start;
  --mixin-nxX84hj2g3sxa_list-style-position: outside;
  --mixin-nxX84hj2g3sxa_padding-left: 40px;
  --mixin-nxX84hj2g3sxa_position: relative;
  --mixin-nxX84hj2g3sxa_list-style-type: disc;
  --mixin-nxX84hj2g3sxa_white-space: pre-wrap;
  --mixin-YWEhqqA7CEFtZ_display: flex;
  --mixin-YWEhqqA7CEFtZ_flex-direction: column;
  --mixin-YWEhqqA7CEFtZ_align-items: stretch;
  --mixin-YWEhqqA7CEFtZ_justify-content: flex-start;
  --mixin-YWEhqqA7CEFtZ_list-style-position: outside;
  --mixin-YWEhqqA7CEFtZ_padding-left: 40px;
  --mixin-YWEhqqA7CEFtZ_position: relative;
  --mixin-YWEhqqA7CEFtZ_list-style-type: decimal;
  --mixin-YWEhqqA7CEFtZ_white-space: pre-wrap;
  --mixin-2woNNpSmpNuMg_color: #000000;
  --mixin-2woNNpSmpNuMg_font-size: 20px;
  --mixin-2woNNpSmpNuMg_font-weight: 600;
  --mixin-2woNNpSmpNuMg_letter-spacing: -0.3px;
  --mixin-2woNNpSmpNuMg_line-height: 1.5;
  --mixin-2woNNpSmpNuMg_white-space: pre-wrap;
  --mixin-GklaNmuoAxkAU_color: #000000;
  --mixin-GklaNmuoAxkAU_font-size: 16px;
  --mixin-GklaNmuoAxkAU_font-weight: 600;
  --mixin-GklaNmuoAxkAU_line-height: 1.5;
  --mixin-GklaNmuoAxkAU_white-space: pre-wrap;
  --mixin-VFlpvGDl8a44v_color: #3291ff;
  --mixin-VFlpvGDl8a44v_white-space: pre-wrap;
  --mixin-sANyJev93sLg4_white-space: pre-wrap;
  --mixin-V5xC4VMNcGt3H_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Cm5k_1s0ZfLo_font-family);
  font-size: var(--mixin-Cm5k_1s0ZfLo_font-size);
  font-weight: var(--mixin-Cm5k_1s0ZfLo_font-weight);
  font-style: var(--mixin-Cm5k_1s0ZfLo_font-style);
  color: var(--mixin-Cm5k_1s0ZfLo_color);
  text-align: var(--mixin-Cm5k_1s0ZfLo_text-align);
  text-transform: var(--mixin-Cm5k_1s0ZfLo_text-transform);
  line-height: var(--mixin-Cm5k_1s0ZfLo_line-height);
  letter-spacing: var(--mixin-Cm5k_1s0ZfLo_letter-spacing);
  white-space: var(--mixin-Cm5k_1s0ZfLo_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-kOefIQT9OxjI_color);
  font-weight: var(--mixin-kOefIQT9OxjI_font-weight);
  font-size: var(--mixin-kOefIQT9OxjI_font-size);
  line-height: var(--mixin-kOefIQT9OxjI_line-height);
  letter-spacing: var(--mixin-kOefIQT9OxjI_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-eTGci-cdCAuD_color);
  font-size: var(--mixin-eTGci-cdCAuD_font-size);
  font-weight: var(--mixin-eTGci-cdCAuD_font-weight);
  letter-spacing: var(--mixin-eTGci-cdCAuD_letter-spacing);
  line-height: var(--mixin-eTGci-cdCAuD_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-RwNvMSmCBm2o_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-xorD9umz1jwv_color);
  font-size: var(--mixin-xorD9umz1jwv_font-size);
  font-weight: var(--mixin-xorD9umz1jwv_font-weight);
  letter-spacing: var(--mixin-xorD9umz1jwv_letter-spacing);
  line-height: var(--mixin-xorD9umz1jwv_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-WVoLOBMzCSYZG_color);
  font-size: var(--mixin-WVoLOBMzCSYZG_font-size);
  font-weight: var(--mixin-WVoLOBMzCSYZG_font-weight);
  letter-spacing: var(--mixin-WVoLOBMzCSYZG_letter-spacing);
  line-height: var(--mixin-WVoLOBMzCSYZG_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qUS7e_xba9KeG_font-family);
  border-radius: var(--mixin-qUS7e_xba9KeG_border-top-left-radius)
    var(--mixin-qUS7e_xba9KeG_border-top-right-radius)
    var(--mixin-qUS7e_xba9KeG_border-bottom-right-radius)
    var(--mixin-qUS7e_xba9KeG_border-bottom-left-radius);
  padding: var(--mixin-qUS7e_xba9KeG_padding-top)
    var(--mixin-qUS7e_xba9KeG_padding-right)
    var(--mixin-qUS7e_xba9KeG_padding-bottom)
    var(--mixin-qUS7e_xba9KeG_padding-left);
  border-top: var(--mixin-qUS7e_xba9KeG_border-top-width)
    var(--mixin-qUS7e_xba9KeG_border-top-style)
    var(--mixin-qUS7e_xba9KeG_border-top-color);
  border-right: var(--mixin-qUS7e_xba9KeG_border-right-width)
    var(--mixin-qUS7e_xba9KeG_border-right-style)
    var(--mixin-qUS7e_xba9KeG_border-right-color);
  border-bottom: var(--mixin-qUS7e_xba9KeG_border-bottom-width)
    var(--mixin-qUS7e_xba9KeG_border-bottom-style)
    var(--mixin-qUS7e_xba9KeG_border-bottom-color);
  border-left: var(--mixin-qUS7e_xba9KeG_border-left-width)
    var(--mixin-qUS7e_xba9KeG_border-left-style)
    var(--mixin-qUS7e_xba9KeG_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-tehCLLL2-P0VL_color);
  padding-left: var(--mixin-tehCLLL2-P0VL_padding-left);
  border-left: var(--mixin-tehCLLL2-P0VL_border-left-width)
    var(--mixin-tehCLLL2-P0VL_border-left-style)
    var(--mixin-tehCLLL2-P0VL_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QF8GtBbbtSH3T_font-family);
  border-radius: var(--mixin-QF8GtBbbtSH3T_border-top-left-radius)
    var(--mixin-QF8GtBbbtSH3T_border-top-right-radius)
    var(--mixin-QF8GtBbbtSH3T_border-bottom-right-radius)
    var(--mixin-QF8GtBbbtSH3T_border-bottom-left-radius);
  padding: var(--mixin-QF8GtBbbtSH3T_padding-top)
    var(--mixin-QF8GtBbbtSH3T_padding-right)
    var(--mixin-QF8GtBbbtSH3T_padding-bottom)
    var(--mixin-QF8GtBbbtSH3T_padding-left);
  border-top: var(--mixin-QF8GtBbbtSH3T_border-top-width)
    var(--mixin-QF8GtBbbtSH3T_border-top-style)
    var(--mixin-QF8GtBbbtSH3T_border-top-color);
  border-right: var(--mixin-QF8GtBbbtSH3T_border-right-width)
    var(--mixin-QF8GtBbbtSH3T_border-right-style)
    var(--mixin-QF8GtBbbtSH3T_border-right-color);
  border-bottom: var(--mixin-QF8GtBbbtSH3T_border-bottom-width)
    var(--mixin-QF8GtBbbtSH3T_border-bottom-style)
    var(--mixin-QF8GtBbbtSH3T_border-bottom-color);
  border-left: var(--mixin-QF8GtBbbtSH3T_border-left-width)
    var(--mixin-QF8GtBbbtSH3T_border-left-style)
    var(--mixin-QF8GtBbbtSH3T_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-nxX84hj2g3sxa_display);
  flex-direction: var(--mixin-nxX84hj2g3sxa_flex-direction);
  align-items: var(--mixin-nxX84hj2g3sxa_align-items);
  justify-content: var(--mixin-nxX84hj2g3sxa_justify-content);
  list-style-position: var(--mixin-nxX84hj2g3sxa_list-style-position);
  padding-left: var(--mixin-nxX84hj2g3sxa_padding-left);
  position: var(--mixin-nxX84hj2g3sxa_position);
  list-style-type: var(--mixin-nxX84hj2g3sxa_list-style-type);
  flex-column-gap: var(--mixin-nxX84hj2g3sxa_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-YWEhqqA7CEFtZ_display);
  flex-direction: var(--mixin-YWEhqqA7CEFtZ_flex-direction);
  align-items: var(--mixin-YWEhqqA7CEFtZ_align-items);
  justify-content: var(--mixin-YWEhqqA7CEFtZ_justify-content);
  list-style-position: var(--mixin-YWEhqqA7CEFtZ_list-style-position);
  padding-left: var(--mixin-YWEhqqA7CEFtZ_padding-left);
  position: var(--mixin-YWEhqqA7CEFtZ_position);
  list-style-type: var(--mixin-YWEhqqA7CEFtZ_list-style-type);
  flex-column-gap: var(--mixin-YWEhqqA7CEFtZ_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-2woNNpSmpNuMg_color);
  font-size: var(--mixin-2woNNpSmpNuMg_font-size);
  font-weight: var(--mixin-2woNNpSmpNuMg_font-weight);
  letter-spacing: var(--mixin-2woNNpSmpNuMg_letter-spacing);
  line-height: var(--mixin-2woNNpSmpNuMg_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-GklaNmuoAxkAU_color);
  font-size: var(--mixin-GklaNmuoAxkAU_font-size);
  font-weight: var(--mixin-GklaNmuoAxkAU_font-weight);
  line-height: var(--mixin-GklaNmuoAxkAU_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-VFlpvGDl8a44v_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
