.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.slotTargetChildren {
  user-select: none;
}
.slotTargetChildrenglobal_dark__true {
  color: #ffffff;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 4px;
  user-select: none;
}
.textglobal_dark__true {
  color: #ffffff;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-left: 8px;
  height: 30px;
  min-width: 0;
}
.inputshowPanel:global(.__wab_instance) {
  z-index: 4;
}
.display {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.picker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 60px;
  flex-shrink: 0;
}
.pickershowPanel:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: -52px;
  opacity: 1;
  z-index: 5;
  right: -154px;
}
.cover {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  right: 0;
  bottom: 0;
  display: none;
  padding: 8px;
}
.covershowPanel {
  display: block;
}
