.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  min-width: 0;
  padding: 0px 24px 8px;
  border-width: 1px;
  border-color: #000000;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox___4U85 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4U85 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___4U85 > :global(.__wab_flex-container) > *,
.freeBox___4U85 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4U85 > :global(.__wab_flex-container) > picture > img,
.freeBox___4U85
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4U85 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4U85 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4U85 > :global(.__wab_flex-container) > *,
  .freeBox___4U85 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4U85 > :global(.__wab_flex-container) > picture > img,
  .freeBox___4U85
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.name:global(.__wab_instance) {
  position: relative;
  width: 236px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.baseValue:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 30px;
  width: 100%;
  min-width: 0;
}
.text__tEsny {
  white-space: pre;
}
.stepsLighter:global(.__wab_instance) {
  position: relative;
}
.text__sfkjO {
  color: #535353;
}
.textglobal_dark__true__sfkjOuQts4 {
  color: #ffffff;
}
.stepsDarker:global(.__wab_instance) {
  position: relative;
}
.remove:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox__dt3Rb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg___1Thal {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__o1TQ {
  font-weight: 400;
}
.svg__sSo9G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.copy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 135px;
  flex-shrink: 0;
}
.freeBox__ok0G1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg__dode0 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svgglobal_dark__true__dode0UQts4 {
  color: #ffffff;
}
.text__p1SIn {
  font-weight: 400;
}
.svg___2BpQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__jo9H0 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jo9H0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__jo9H0 > :global(.__wab_flex-container) > *,
.freeBox__jo9H0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jo9H0 > :global(.__wab_flex-container) > picture > img,
.freeBox__jo9H0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jo9H0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jo9H0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jo9H0 > :global(.__wab_flex-container) > *,
  .freeBox__jo9H0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jo9H0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__jo9H0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.saturation:global(.__wab_instance) {
  position: relative;
  width: 236px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .saturation:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.lightDomain:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lightDomain:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___500Kj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.adjustSaturation:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox__xogkm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg__u6Tik {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__cMpHy {
  font-size: 14px;
  font-weight: 400;
}
.svg__oLe17 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.adjustLightness:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox__iYrSl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  max-width: 100%;
  padding: 0px;
}
.svg__un72G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__qOpx {
  font-size: 14px;
  font-weight: 400;
}
.svg__obUQv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.darkDomain:global(.__wab_instance) {
  position: relative;
  height: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .darkDomain:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.darkSaturation:global(.__wab_instance) {
  position: relative;
  width: 236px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .darkSaturation:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.colors:global(.__wab_instance) {
  margin-top: calc(0px + 8px) !important;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .colors:global(.__wab_instance) {
    height: auto;
    margin-top: calc(0px + 8px) !important;
  }
}
.freeBox__mViK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mViK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mViK {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mViK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mViK > :global(.__wab_flex-container) > *,
  .freeBox__mViK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mViK > :global(.__wab_flex-container) > picture > img,
  .freeBox__mViK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__wpWem {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__wpWem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wpWem > :global(.__wab_flex-container) > *,
.freeBox__wpWem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wpWem > :global(.__wab_flex-container) > picture > img,
.freeBox__wpWem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wpWem {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wpWem > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wpWem > :global(.__wab_flex-container) > *,
  .freeBox__wpWem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wpWem > :global(.__wab_flex-container) > picture > img,
  .freeBox__wpWem
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.lightLuminance:global(.__wab_instance) {
  position: relative;
  width: 224px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lightLuminance:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.lightHue:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 344px;
  height: 30px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lightHue:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__zlvRs {
  width: auto;
  flex-shrink: 0;
}
.resetHueShift:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0VwAy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__oz6I {
  font-size: 14px;
  font-weight: 400;
}
.svg__lk0El {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__eZ3Ci {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__eZ3Ci > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eZ3Ci > :global(.__wab_flex-container) > *,
.freeBox__eZ3Ci > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eZ3Ci > :global(.__wab_flex-container) > picture > img,
.freeBox__eZ3Ci
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eZ3Ci {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eZ3Ci > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eZ3Ci > :global(.__wab_flex-container) > *,
  .freeBox__eZ3Ci > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eZ3Ci > :global(.__wab_flex-container) > picture > img,
  .freeBox__eZ3Ci
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.darkHue:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 30px;
  width: 344px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .darkHue:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__thpsX {
  flex-shrink: 0;
}
.darkLuminance:global(.__wab_instance) {
  position: relative;
  width: 224px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .darkLuminance:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
